* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #1d438a;
  background-color: #a5cec1;
}

nav {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  gap: 10px;
  max-height: 200px;
  flex-wrap: wrap;
}

.button {
  background-color: #1d438a;
  color: white;
  width: 150px;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}
